.forside {
  background-color: var(--farve_1);
}

.temaside {
  background-color: var(--farve_2);
}

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.billede_fotostudie {
  display: block;
  width: 99%;
  height: auto;
}

h2 {
  color: var(--farve_5);
  text-shadow: 0px 4px 4px black;
  text-align: center;
  font-size: 70px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  margin-top: 20em;
  text-shadow: 4px 4px 4px black;
}

.text_pa_billede {
  position: relative;
}

.p-forside {
  color: var(--farve_2);
  padding: 2.3em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15em;
  line-height: 30px;
}

.midter-streg {
  width: 400px; /* hvor lang stregen skal være */
  height: 2px; /* tykkelsen af stregen */
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

/* OVERSKRIFTEN*/

h1 {
  text-decoration: none;
  color: var(--farve_3);
  text-shadow: 2px 0px 0px var(--farve_6);
  font-size: 70px;
  font-family: "Judson", serif;
  margin-left: 1em;
  grid-column: 1/4;
}

H1:hover {
  color: var(--farve_3);
}

a {
  text-decoration: none;
  color: var(--farve_3);
}

a:hover {
  color: var(--farve_6);
}

/* MENU */

.menu {
  display: none;
  list-style: none;
}

.menu-punkter {
  color: var(--farve_6);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10em;
}

.menu-punkter-index {
  color: var(--farve_6);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10em;
}

nav.active .menu {
  display: block;
  background-color: var(--farve_4);
  color: var(--farve_2);
  position: absolute;
  top: 94px;
  margin-left: 3.5em;
  margin-top: 4em;
  width: 80%;
  height: 20em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
}

nav.active .menu li {
  margin: 20px 20px;
}

nav.active .menu-punkter:hover {
  color: var(--farve_2);
}

.mobil-nav-linje {
  display: none;
}

/* DE 3 STREGER */

.temaside .burger {
  color: var(--farve_2);
  background-color: var(--farve_2);
}

.burger {
  width: 50px;
  cursor: pointer;
  color: var(--farve_2);
  background-color: transparent;
  border: 0;
  margin: 0 auto;
}

.burger .line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--farve_3);
  margin-bottom: 5px;
  transition: 0.2s linear;
  border-radius: 15px;
}

.burger:hover .line {
  background-color: var(--farve_6);
}

/* FOOTER */

.footer_knap {
  border: 0;
  background-color: var(--farve_3);
  border-radius: 15px;
  padding: 2.8em;
  margin: 1em;
  box-shadow: 0px 2px 3px black;
  text-shadow: 0px 4px 4px black;
}
.footer_knap a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.knapper_samlet {
  margin-top: 2em;
}

.website-label {
  color: var(--farve_3);
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-left: 2.4em;
}

.website-link {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-left: 3.3em;
}

.midter_streg_temasider {
  width: 400px; /* hvor lang stregen skal være */
  height: 2px; /* tykkelsen af stregen */
  background-color: var(--farve_4);
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
}

html {
  /* FARVER */
  --farve_1: rgba(229, 245, 255, 1);
  --farve_2: rgba(58, 0, 14, 1);
  --farve_3: rgba(250, 160, 216, 1);
  --farve_4: rgba(255, 203, 225, 1);
  --farve_5: rgba(182, 228, 255, 1);
  --farve_6: rgba(231, 97, 172, 1);
}

/* SKRIFT TYPER*/

.judson-regular {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
}

.judson-bold {
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@media (width>=850px) {
  h1 {
    display: block;
    text-decoration: none;
    color: var(--farve_3);
    text-shadow: 2px 0px 0px var(--farve_6);
    font-size: 140px;
    font-family: "Judson", serif;
    grid-column: 1/5;
    margin-left: auto;
    margin-right: auto;
  }

  H1:hover {
    color: var(--farve_3);
  }

  a {
    text-decoration: none;
    color: var(--farve_3);
  }

  a:hover {
    color: var(--farve_6);
  }

  .p-forside {
    color: var(--farve_2);
    padding: 2.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 15em;
    margin-bottom: 5em;
    line-height: 40px;
  }

  #forside-knap {
    color: var(--farve_1);
  }

  #forside-knap-tema {
    color: var(--farve_2);
  }

  /* billede */

  .billede_fotostudie {
    display: block;
    width: 99%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  /* Skjul burgeren helt */
  .burger {
    display: none;
  }

  /* Vis menuen */

  .menu_wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-left: 0;
  }

  .menu {
    display: flex;
    gap: 8em;
    width: 100%;
    list-style: none;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .anti-linje-brud {
    white-space: nowrap;
  }
  .menu-punkter-index {
    color: var(--farve_2);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
  }

  .menu-punkter-index-tema4 {
    color: var(--farve_2);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    display: block;
    width: 100%;
  }

  .menu-punkter {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
  }

  /* Fjern mobil-dropdown styling */
  nav.active .menu {
    position: static;
    background: none;
    box-shadow: none;
    width: auto;
    height: auto;
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    color: var(--farve_5);
    text-shadow: 0px 4px 4px black;
    text-align: center;
    font-size: 150px;
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    margin-top: 20em;
    text-shadow: 4px 4px 4px black;
  }

  .text_pa_billede {
    position: relative;
  }

  .desktop-linje {
    display: block;
    width: 640px; /* hvor lang stregen skal være */
    height: 3px; /* tykkelsen af stregen */
    background-color: var(--farve_4);
    margin-left: auto;
    margin-right: auto;
  }

  .linje-overskrift {
    color: var(--farve_3);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 18em;
    margin-top: 2em;
    text-align: center;
  }

  .linje-overskrift-forside {
    color: var(--farve_3);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 9em;
    margin-top: 2em;
    text-align: center;
  }

  /*footer*/
  .footer_knap {
    border: 0;
    background-color: var(--farve_3);
    border-radius: 15px;
    padding: 4em;
    margin: 1em;
    box-shadow: 0px 2px 3px black;
    text-shadow: 0px 4px 4px black;
  }

  .knapper_samlet {
    display: flex;
    margin-top: 4em;
    gap: 2em;
    margin-left: 8em;
  }

  .footer_knap a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
  }

  .midter-streg {
    width: 800px; /* hvor lang stregen skal være */
    height: 3px; /* tykkelsen af stregen */
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }

  .midter_streg_temasider {
    width: 800px; /* hvor lang stregen skal være */
    height: 3px; /* tykkelsen af stregen */
    background-color: var(--farve_4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
  }
}
