.instagram {
  width: 100%;
  height: 80%;
}

.tekstafsnit_ommig {
  color: var(--farve_2);
  padding: 2.3em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  line-height: 30px;
}

.figur {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

.overskrift_ommig {
  color: var(--farve_6);
  margin-left: 1em;
  margin-top: 2em;
  font-size: 40px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.dropdown_boks {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}

summary {
  list-style: none; /*fjerner pilen*/
}
.cta_btn {
  color: var(--farve_3);
  margin-left: 1.8em;
  margin-top: 2em;
  font-size: 25px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 1px 1px 0px var(--farve_4);
}

.cta_btn:hover {
  color: var(--farve_3);
  text-decoration: underline;
}
