.overskrift_tema2 {
  color: var(--farve_5);
  margin-left: 1em;
  font-size: 50px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.tekstafsnit_tema2 {
  font-size: 18px;
  color: var(--farve_4);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 6em;
  line-height: 32px;
  margin-bottom: 3em;
}

.billeder_tema2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 6em;
}

.billede_foto-opg {
  grid-column: 1/3;
  object-fit: cover;
  width: 56%;
  margin-left: 5em;
  margin-bottom: 5em;
  border-radius: 5px;
}

.billede_layout-diagram {
  grid-column: 3/5;
  object-fit: cover;
  width: 70%;
  margin-left: 3em;
  margin-left: 2em;
  margin-bottom: 5em;
  border-radius: 5px;
}

.billede_computersite {
  display: block;
  object-fit: cover;
  width: 80%;
  margin-top: 7em;
  margin-bottom: 7em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.website-label {
  color: var(--farve_3);
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-left: 2.4em;
}

.website-link {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-left: 3.3em;
}

html {
  /* FARVER */
  --farve_1: rgba(229, 245, 255, 1);
  --farve_2: rgba(58, 0, 14, 1);
  --farve_3: rgba(250, 160, 216, 1);
  --farve_4: rgba(255, 203, 225, 1);
  --farve_5: rgba(182, 228, 255, 1);
  --farve_6: rgba(231, 97, 172, 1);
}
