.overskrift_tema4 {
  color: var(--farve_5);
  margin-left: 1em;
  font-size: 50px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.tekstafsnit_tema4 {
  font-size: 18px;
  color: var(--farve_4);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 6em;
  line-height: 32px;
  margin-bottom: 3em;
}

.tekstafsnit_tema4_grid {
  font-size: 18px;
  color: var(--farve_4);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 2em;
  line-height: 32px;
  grid-column: 1/3;
}

.billede_emergencysite {
  width: 80%;
  grid-column: 3/4;
  object-fit: cover;
}

.grid_tema4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 5em;
  margin-top: 1em;
}
