.overskrift_tema2 {
  color: var(--farve_5);
  margin-left: 1em;
  font-size: 50px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.under-overskrift_tema2 {
  color: var(--farve_3);
  margin-left: 1em;
  font-size: 50px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.tekstafsnit_tema2 {
  font-size: 18px;
  color: var(--farve_4);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 6em;
  line-height: 32px;
  margin-bottom: 3em;
}

.billeder_tema2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 6em;
}

.billede_foto-opg {
  grid-column: 1/3;
  object-fit: cover;
  width: 56%;
  margin-left: 5em;
  margin-bottom: 5em;
  border-radius: 5px;
}

.billede_layout-diagram {
  grid-column: 3/5;
  object-fit: cover;
  width: 70%;
  margin-left: 3em;
  margin-left: 2em;
  margin-bottom: 5em;
  border-radius: 5px;
}

.billede_computersite {
  display: block;
  object-fit: cover;
  width: 80%;
  margin-top: 7em;
  margin-bottom: 7em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.website-label {
  color: var(--farve_3);
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-left: 2.4em;
}

.website-link {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-left: 3.3em;
}

html {
  /* FARVER */
  --farve_1: rgba(229, 245, 255, 1);
  --farve_2: rgba(58, 0, 14, 1);
  --farve_3: rgba(250, 160, 216, 1);
  --farve_4: rgba(255, 203, 225, 1);
  --farve_5: rgba(182, 228, 255, 1);
  --farve_6: rgba(231, 97, 172, 1);
}

@media (width>=850px) {
  /*tekst*/
  .overskrift_tema2 {
    margin-left: 1em;
    font-size: 120px;
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1em;
  }

  .under-overskrift_tema2 {
    color: var(--farve_3);
    margin-left: 1.8em;
    font-size: 80px;
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0;
  }

  .tekstafsnit_tema2 {
    line-height: 40px;
    margin-left: 8em;
    margin-top: 2em;
  }

  #tekst-afsnit2 {
    width: 60%;
  }

  #link-overskrift {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 0;
    font-size: 80px;
    margin-left: 1.7em;
    margin-top: 4em;
  }

  /* grid og billede r*/
  .tema2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .billeder_tema2 {
    display: block;
    margin: 0;
  }

  .billede_foto-opg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 7em;
  }

  .billede_layout-diagram {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 55%;
    margin-left: 7em;
  }

  .tekst-tema2-1 {
    grid-column: 1/2;
  }

  .tema2-grid2-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 8em;
  }

  .billede_computersite {
    grid-column: 2/3;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8em;
    width: 80%;
    margin-top: 1em;
  }

  /* link */
  .website-link {
    margin-left: 9em;
  }

  .website-label {
    margin-left: 6.5em;
  }
}
