.overskrift_tema3 {
  color: var(--farve_5);
  margin-left: 1em;
  font-size: 50px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.under-overskrift_tema3 {
  color: var(--farve_3);
  margin-left: 1em;
  font-size: 50px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.tekstafsnit_tema3 {
  font-size: 18px;
  color: var(--farve_4);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 6em;
  line-height: 32px;
  margin-bottom: 3em;
}

.billede_dindrue {
  display: block;
  object-fit: cover;
  width: 80%;
  margin-top: 7em;
  margin-bottom: 7em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.billede_brainstorm {
  display: block;
  object-fit: cover;
  width: 80%;
  margin-top: 7em;
  margin-bottom: 7em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
#figma-link {
  display: block;
  text-align: left;
  text-indent: 0;
}

@media (width>=850px) {
  .overskrift_tema3 {
    margin: 0;
    text-align: center;
    color: var(--farve_5);
    font-size: 120px;
    margin-bottom: 1em;
  }

  .under-overskrift_tema3 {
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 3em;
  }

  .grid-tema3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  #tema3-afsnit1 {
    grid-column: 1/2;
    line-height: 40px;
    margin-left: 4.3em;
  }

  .billede_dindrue {
    grid-column: 2/3;
    margin-top: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 80%;
  }

  .billede_brainstorm {
    margin-top: 5em;
    margin-bottom: 0;
  }

  .tema3-afsnit2 {
    grid-column: 2/3;
  }

  tekstafsnit_tema3 {
    line-height: 50px;
  }

  #link-overskrift {
    font-size: 80px;
    margin-right: 5em;
    margin-top: 2.6em;
  }

  .links-samlet {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 1.2em;
  }

  #figma-link {
    display: block;
    text-align: left;
    text-indent: 0;
  }
}
