.overskrift_tema4 {
  color: var(--farve_5);
  margin-left: 1em;
  font-size: 50px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.tekstafsnit_tema4 {
  font-size: 18px;
  color: var(--farve_4);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 6em;
  line-height: 32px;
  margin-bottom: 3em;
}

.tekstafsnit_tema4_grid {
  font-size: 18px;
  color: var(--farve_4);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 2em;
  line-height: 32px;
  grid-column: 1/3;
}

.billede_emergencysite {
  width: 80%;
  grid-column: 3/4;
  object-fit: cover;
  margin-left: 3em;
}

.billede_emergencysite2 {
  display: none;
}

.grid_tema4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 5em;
  margin-top: 1em;
}

.tekstafsnit_tema4_grid {
  font-size: 18px;
  margin-left: 3em;
  margin-right: 2em;
  line-height: 32px;
  grid-column: 1/3;
}

#figma-link {
  display: block;
  text-align: left;
  text-indent: 0;
}

@media (width>=850px) {
  .overskrift_tema4 {
    margin: 0;
    text-align: left;
    margin-left: 1.2em;
    color: var(--farve_5);
    font-size: 120px;
    margin-bottom: 1em;
  }

  .tekstafsnit_tema4 {
    margin-bottom: 0;
  }

  .grid_tema4 {
    display: block;
    grid-column: 1/2;
    margin: 0;
    margin-top: 4em;
  }

  .tema4-grid-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 6em;
  }

  .tema4-afsnit1 {
    grid-column: 1/2;
  }

  #tema4-afsnit2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .billede_emergencysite {
    display: none;
  }

  .tekstafsnit_tema4_grid {
    font-size: 18px;
    margin-left: 3em;
    margin-right: 2em;
    line-height: 32px;
    grid-column: 1/2;
  }

  .billede_emergencysite2 {
    display: block;
    grid-column: 3/2;
    width: 50%;
    grid-row: 1/8;
    margin-left: 10em;
  }

  #link_overskrift {
    color: var(--farve_3);
    font-size: 80px;
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    margin-left: 0.6em;
    margin-top: 2em;
  }

  .links-samlet {
    grid-column: 1/2;
    margin-top: 2em;
  }

  #figma-link {
    display: block;
    text-align: left;
    text-indent: 0;
  }
}
